#heading01
{
	text-align:center;
	font-size:80px;
}
.image01
{
	width:270px;
	padding-left:15px;
}
.image02
{
	width:270px;
}
.image03
{
	width:270px;
}
.image04
{
	width:270px;
}
.image05
{
	width:270px;
}
.image07
{
	padding-left:135px;
}
.image08
{
	padding-left:135px;
}
.image09
{
	width:270px;
	padding-left:15px;
}
.image10
{
	width:270px;
}
.image11
{
	width:270px;
}
.image12
{
	width:270px;
}
.image13
{
	width:270px;
}
.image14
{
	width:270px;
	padding-left:15px;
}
.image15
{
	width:270px;
}
.image16
{
	width:270px;
}
.image17
{
	width:270px;
}
.image18
{
	width:270px;
}
.image19
{
	width:340px;
	padding-left:10px;
}
.image20
{
	width:340px;
}
.image21
{
	width:340px;
}
.image22
{
	width:340px;
}
.image23
{
	width:340px;
	padding-left:15px;
}
.image24
{
	width:340px;
}
.image25
{
	width:340px;
}
.image26
{
	width:340px;
}
.image27
{
	width:300px;
}
.image28
{
	width:300px;
	padding-left:225px;
	padding-right:225px;
}
.image29
{
	width:300px;
}
	
.image30
{
	float:right;
}
h2
{
	color:#cc3300
	
}
h2
{
	font-size:60px;
}
.paragraph02
{
	color:#ff3300
}
p
{
	font-size:30px;
	color:#ff0000;
	font-family:Calibri;
}
h3
{
	font-size:45px;
}
h3
{
	color:#cc0000
}
body
{
	background-color:#ffcccc
}
.image31
{
	float:right;
	width:270px;
}
.image32
{
	padding-left:100px;
	padding-right:450px;
}
.image33
{
	padding-right:100px;
}
h1
{
	color:#992600;
}
.list01
{
	list-style-type:none;
	margin:0;
	padding:0;
}
.l1
{
	display:inline;
}
.l2
{
	display:inline;
}
.l3
{
	display:inline;
}






	