
h1
{
	color:#006600;
	font-size:80px;
}
body
{
	background-color:#ccffcc;
}
h2
{
	color:#009900;
}
p
{
	color:#00cc00;
	font-size:30px;
	font-family:Calibri;
}
.list01
{
	list-style-type:none;
	margin:0;
	padding:0;
}
.l1
{
	display:inline;
}
.l2
{
	display:inline;
}
.l3
{
	display:inline;
}
h2
{
	font-size:60px;
}
.heading01
{
	text-align:center;
}
.image01
{
	width:340px;
}
.image02
{
	width:340px;
}
.image03
{
	width:340px;
}
.image04
{
	width:340px;
}
.image05
{
	width:270px;
	padding-left:20px;
}
.image06
{
	width:270px;
}
.image07
{
	width:270px;
}
.image08
{
	width:270px;
}
.image09
{
	width:270px;
}
.image10
{
	width:400px;
	padding-right:60px;
	padding-left:30px;
}
.image11
{
	width:400px;
	padding-right:60px;
}
.image12
{
	width:400px;
}
.image13
{
	width:340px;
	padding-left:20px;
}
.image14
{
	width:340px;
}
.image15
{
	width:340px;
}
.image16
{
	width:340px;
}
.image17
{
	width:340px;
	padding-left:20px;
}
.image18
{
	width:340px;
}
.image19
{
	width:340px;
}
.image20
{
	width:340px;
}
.image21
{
	width:450px;
	display:block;
	margin:auto;
}
